<!doctype html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='jquery-1.12.4.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    
    <script src="{{ url_for('static', filename='angular.min.js') }}"></script> 
    <script src="{{ url_for('static', filename='socket.io.js') }}"></script> 
    <script src="{{ url_for('static', filename='ngSocket.js') }}"></script> 
    <script src="{{ url_for('static', filename='level.js') }}"></script> 
    <script src="{{ url_for('static', filename='weather.js') }}"></script>

</head>

    <body>

  
    
<div ng-app="myApp" ng-controller="myCtrl">

First Name: <input type="text" ng-model="firstName"><br>
Last Name: <input type="text" ng-model="lastName"><br>
<br>
Full Name: [[firstName + " " + lastName]]

</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope) {
    $scope.firstName= "John";
    $scope.lastName= "Doe";
});

app.config(function ($interpolateProvider) {  
  $interpolateProvider.startSymbol('[[');
  $interpolateProvider.endSymbol(']]');
});

</script>



</body>
</html>
